@import "null.css";
.project__button, .projects__more-button a, .page-block__button-link, .page-block__button-brown, .page-block__button, .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  min-height: 100px;
  padding: 30px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}
.header__logo {
  display: block;
  margin-right: 176px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 55px;
}
.menu__link {
  font-size: 16px;
  color: #403F3E;
  font-weight: 400;
  line-height: 130%;
}

.burger {
  position: relative;
  width: 30px;
  height: 11px;
  display: none;
  cursor: pointer;
}
.burger__button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
  background-color: transparent;
}
.burger:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #403F3E;
}
.burger:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #403F3E;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page-block {
  position: relative;
}
.page-block__content {
  max-width: 548px;
  padding: 243px 0 210px 0;
  position: relative;
  z-index: 2;
}
.page-block__content > *:not(:last-child) {
  margin-bottom: 88px;
}
.page-block__heading {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 85px;
  color: #454444;
  font-weight: 700;
  line-height: 100%;
}
.page-block__text {
  font-size: 20px;
  color: #514F4F;
  font-weight: 400;
  line-height: 127%;
}
.page-block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-block__buttons > *:not(:last-child) {
  margin-right: 30px;
}
.page-block__button {
  padding: 5px 50px;
  min-height: 60px;
  outline: 1px solid #403F3E;
  font-size: 20px;
  color: #403F3E;
  font-weight: 400;
  line-height: 127%;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page-block__button:before {
  content: "";
  background-color: #403F3E;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  z-index: 1;
}
.page-block__button:hover:before {
  content: "";
  background-color: #403F3E;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.page-block__button-brown {
  padding: 5px 40px;
  min-height: 60px;
  font-size: 20px;
  color: #403F3E;
  font-weight: 400;
  line-height: 127%;
  background-color: #A67356;
  outline: 1px solid #A67356;
  color: #f2f2f2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}
.page-block__button-brown:hover {
  opacity: 0.8;
}
.page-block__button-link {
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: #403F3E;
  font-weight: 400;
  line-height: 127%;
  color: #403F3E;
  font-weight: 300;
  font-size: 20px;
  position: relative;
  z-index: 200;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page-block__button-link:hover {
  color: #f2f2f2;
  z-index: 200;
}

.cards {
  margin-bottom: 350px;
}
.cards__container {
  position: relative;
}
.cards__items {
  margin: -60px -40px;
  padding: 0 15px;
  position: absolute;
  left: 0;
}
.cards__item {
  height: 100%;
}
.cards__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.cards__text {
  font-size: 18px;
  color: #403F3E;
  font-weight: 400;
  line-height: 127%;
}

.item {
  background-color: white;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(64, 63, 62, 0.31);
          box-shadow: 0px 0px 16px -1px rgba(64, 63, 62, 0.31);
  margin: 0 40px;
  padding: 20px 40px;
  min-width: 300px;
}
.item__num {
  font-family: "Bitter", serif;
  color: rgba(166, 115, 86, 0.75);
  font-size: 140px;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
}

.projects {
  margin-bottom: 100px;
}
.projects__heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  color: #454444;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 76px;
}
.projects__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects__more-button {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects__more-button a {
  display: block;
  width: 227px;
  text-decoration: none;
  font-size: 20px;
  color: #403F3E;
  font-weight: 400;
  line-height: 127%;
  text-align: center;
  padding: 15px 40px;
  border: 1px solid #403F3E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.projects__more-button a:hover {
  background-color: #403F3E;
  color: white;
}

.project {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 16px -1px rgba(64, 63, 62, 0.25);
          box-shadow: 0px 4px 16px -1px rgba(64, 63, 62, 0.25);
  padding: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  min-width: 300px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project > *:not(:last-child) {
  margin-bottom: 30px;
}
.project__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.project__content > *:not(:last-child) {
  margin-bottom: 30px;
}
.project__heading {
  font-size: 35px;
  color: #403F3E;
  font-weight: 500;
  line-height: 120%;
}
.project__text {
  font-size: 18px;
  color: #3C3A39;
  font-weight: 400;
  line-height: 127%;
}
.project__link {
  display: block;
  top: 0;
  font-size: 18px;
  color: #A67356;
  font-weight: 400;
  line-height: 127%;
  margin-right: 13px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.project__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1440px) {
  .page-block__image img {
    -o-object-position: right;
       object-position: right;
  }

  .header {
    padding: 20px 0;
  }
  .header__container {
    min-height: 80px;
  }

  .header__logo {
    margin-right: 160px;
  }

  .menu__item:not(:last-child) {
    margin-right: 45px;
  }

  .page-block__heading {
    font-size: 78px;
  }
  .page-block__content {
    max-width: 516px;
    padding: 213px 0 170px 0;
  }
  .page-block__content > *:not(:last-child) {
    margin-bottom: 68px;
  }
  .page-block__text {
    font-size: 16px;
  }
  .page-block__button-brown {
    padding: 5px 40px;
    min-height: 50px;
    font-size: 16px;
  }
  .page-block__button {
    padding: 5px 50px;
    min-height: 50px;
  }
  .page-block__button-link {
    font-size: 16px;
  }

  .projects__more-button a {
    font-size: 16px;
    width: 217px;
  }
}
@media screen and (max-width: 1220px) {
  .page-block__image img {
    -o-object-position: right;
       object-position: right;
  }

  .header__logo {
    margin-right: 130px;
  }

  .menu__item:not(:last-child) {
    margin-right: 35px;
  }

  .page-block__heading {
    font-size: 68px;
  }
  .page-block__content {
    max-width: 510px;
    padding: 200px 0 160px 0;
  }
  .page-block__content > *:not(:last-child) {
    margin-bottom: 48px;
  }

  .cards {
    margin-bottom: 270px;
  }

  .project__heading {
    font-size: 32px;
  }
}
@media screen and (max-width: 1090px) {
  .header__logo {
    margin-right: 100px;
  }

  .menu__link {
    font-size: 14px;
  }

  .page-block__heading {
    font-size: 64px;
  }
  .page-block__content {
    max-width: 428px;
  }

  .cards__items {
    margin: -60px -30px;
  }

  .item {
    margin: 0 30px;
  }

  .project__heading {
    font-size: 29px;
  }
  .project__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 1050px) {
  .cards__items {
    margin: -60px -20px;
  }

  .item {
    margin: 0 20px;
  }
  .item__num {
    font-size: 110px;
  }

  .project__heading {
    font-size: 26px;
  }
}
@media screen and (max-width: 1020px) {
  .header {
    padding: 25px 0;
  }

  .page-block__text {
    font-weight: 500;
  }

  .page-block__image {
    opacity: 0.55;
  }

  .cards {
    margin-bottom: 420px;
  }
  .cards__column:not(:nth-child(3)) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 30px;
  }
  .cards__column:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .item__num {
    font-size: 94px;
  }

  .projects__heading {
    font-size: 46px;
    margin-bottom: 70px;
  }

  .project__link {
    font-size: 16px;
    margin-right: 11px;
  }
}
@media screen and (max-width: 850px) {
  .project {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .project__heading {
    font-size: 35px;
  }
  .project__text {
    font-size: 18px;
  }
  .project__link {
    font-size: 18px;
    margin-right: 13px;
  }

  .projects__more-button {
    margin-top: 45px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 15px 0;
  }
  .header__logo {
    width: 50px;
    height: 50px;
    margin-right: 0;
  }
  .header__container {
    min-height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__item {
    display: none;
  }

  .burger {
    display: block;
  }

  .page-block__content {
    padding: 180px 0 140px 0;
  }
  .page-block__content > *:not(:last-child) {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 670px) {
  .cards__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 670px) {
  .cards {
    margin-bottom: 600px;
  }

  .item__num {
    font-size: 85px;
  }

  .projects__heading {
    font-size: 43px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 590px) {
  .project__heading {
    font-size: 30px;
  }
  .project__text {
    font-size: 16px;
  }
  .project__link {
    font-size: 16px;
    margin-right: 11px;
  }

  .projects__heading {
    font-size: 38px;
    margin-bottom: 56px;
  }

  .cards {
    margin-bottom: 600px;
  }

  .projects__more-button {
    margin-top: 35px;
  }
}
@media screen and (max-width: 480px) {
  .page-block__button-brown {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .page-block__content {
    max-width: 460px;
    padding: 160px 0 120px 0;
  }
  .page-block__heading {
    font-size: 60px;
  }
  .page-block__text {
    font-size: 14px;
  }
  .page-block__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-block__buttons > *:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }

  .cards {
    margin-bottom: 650px;
  }

  .project {
    padding: 20px;
  }
  .project__heading {
    font-size: 26px;
  }

  .projects__more-button {
    padding: 0 10px;
    margin-top: 30px;
  }
  .projects__more-button a {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .page-block__content {
    max-width: 410px;
  }
  .page-block__heading {
    font-size: 52px;
  }
  .page-block__text {
    font-size: 14px;
  }
  .page-block__buttons > *:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }

  .cards {
    margin-bottom: 700px;
  }

  .project__heading {
    font-size: 24px;
  }
}
@media screen and (max-width: 380px) {
  .page-block__content {
    max-width: 340px;
  }
  .page-block__heading {
    font-size: 44px;
  }

  .cards {
    margin-bottom: 750px;
  }

  .project__heading {
    font-size: 21px;
  }
  .project__text {
    font-size: 14px;
  }
  .project__link {
    font-size: 13px;
    margin-right: 10px;
  }

  .projects__container.container {
    padding: 0;
  }

  .item {
    margin: 0;
  }
}