@import "null.css";

$second-font: 'Bitter', serif;
$main-font: 'Josefin Sans', sans-serif;
$text-color: #403F3E;
$light-brown: #A67356;


@mixin font($fz, $c, $fw, $lh){
    font-size: $fz;
    color: $c;
    font-weight: $fw;
    line-height: $lh;
}

%flex-element-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.ibg{
    position: relative;
    & img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; 
        object-fit: cover;
    }
    
}

.wrapper{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    z-index: 1000;
    min-height: 100px;
    padding: 30px 0;

    &__container{
        display: flex;
        align-items: center;
        min-height: 100px;
    }
    &__logo{
        display: block;
        margin-right: 176px;
    }
}

.menu{

    &__list{
        display: flex;
        align-items:center;
    }
    &__item:not(:last-child){
        margin-right: 55px;
    }
    &__link{
        @include font(16px, $text-color, 400, 130%);
    }
}

.burger{
    position: relative;
    // background-color: white;
    width: 30px;
    height: 11px;
    @extend %flex-element-center;
    display: none;
    cursor: pointer;

    &__button{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left:0;
        z-index: -1;
        border: none;
        background-color: transparent;
    }

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $text-color;
    }
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        height: 2px;
        background-color: $text-color;
    }
    
}

.page{
    flex: 1 1 auto;

    &-block{
        position: relative;

        &__content{
            max-width: 548px;
            padding: 243px 0 210px 0;
            position: relative;
            z-index: 2;

            & > *:not(:last-child){
                margin-bottom: 88px;
            }
        }

        &__heading{
            text-transform: uppercase;
            font-family: $main-font;
            @include font(85px,  #454444, 700, 100%);
        }
        &__text{
            @include font(20px, #514F4F, 400 ,127%);
        }

        &__image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__buttons{
            display: flex;
            flex-wrap:wrap;
            & > *:not(:last-child){
                margin-right: 30px;
            }
        }
        &__button{
            // width: 227px;
            padding: 5px 50px;
            min-height:60px;
            @extend %flex-element-center;
            outline: 1px solid #403F3E;
            // border: 1px solid #403F3E;
            @include font(20px, $text-color, 400, 127%);
            position: relative;
            transition: all .3s;
            // &:not(:last-child){
            //     margin-right: 30px;
            // }
            &:before{
                content: "";
                background-color: #403F3E;
                left:0;
                width: 0;
                height: 100%;
                transition: all .5s ease;
                position: absolute;
                z-index: 1;
            }
            &:hover:before{
                content: "";
                background-color: #403F3E;
                position: absolute;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
        &__button-brown{
            // width: 227px;
            padding: 5px 40px;
            min-height:60px;
            @include font(20px, $text-color, 400, 127%);
            @extend %flex-element-center;
            background-color: $light-brown;
            outline: 1px solid $light-brown;
            color: #f2f2f2;
            transition: all .3s;
            outline: none;
            &:hover{
                opacity: .8;   
            }
        }
        &__button-link{
            // display: block;
            @extend %flex-element-center;
            height: 100%;
            width: 100%;
            @include font(20px, $text-color, 400, 127%);
            // text-align: center;
            color: #403F3E;
            font-weight: 300;
            font-size: 20px;
            position: relative;
            z-index: 200; 
            transition: all .5s ease;  
            &:hover{
                color: #f2f2f2;
                z-index: 200;
            }         
        }
    }
}

.cards{
    margin-bottom: 300px;
    &__container{
        position: relative;
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        margin: -60px -40px;
        padding: 0 15px;
        position: absolute;
        left: 0;
    }
    &__item{
        height: 100%;
    }
    &__column{
        flex: 0 1 33.333%;
    }
    &__text{
        @include font(18px, $text-color, 400, 127%);
    }
}

.item{
    background-color: white;
    box-shadow: 0px 0px 16px -1px rgba(64, 63, 62, 0.31);
    margin: 0 40px;
    padding: 20px 40px;

    &__num{
        font-family: $second-font;
        color: rgba(166, 115, 86, 0.75);
        font-size: 140px;
        line-height: 100%;
        font-weight: 400;
        text-align: center;
    }
}



@media screen and (max-width: 1440px){
    .page-block__image img{
        object-position: right;
    }
    .header{
        padding: 20px 0;
        &__container{
            min-height: 80px;
        }
    }
    .header__logo{
        margin-right: 160px;
    }
    .menu__item:not(:last-child){
        margin-right: 45px;
    }
    .page-block{
        &__heading{
            font-size: 78px;
        }
        &__content{
            max-width: 516px;
            padding: 213px 0 170px 0;
            & > *:not(:last-child){
                margin-bottom: 68px;
            }
        }
        &__text{
            font-size: 16px;
        }
        &__button-brown{
            // width: 180px;
            padding: 5px 40px;
            min-height: 50px;
            font-size: 16px;
        }
        &__button{
            // width: 180px;
            padding: 5px 50px;
            min-height:50px;
            &-link{
                font-size: 16px;
            }
        }
    }
}


@media screen and (max-width: 1220px){
    .page-block__image img{
        object-position: right;
    }
    .header__logo{
        margin-right: 130px;
    }
    .menu__item:not(:last-child){
        margin-right: 35px;
    }
    .page-block{
        &__heading{
            font-size: 68px;
        }
        &__content{
            max-width: 510px;
            padding: 200px 0 160px 0;
            & > *:not(:last-child){
                margin-bottom: 48px;
            }
        }
    }

}


@media screen and (max-width: 1090px){

    .header__logo{
        margin-right: 100px;
    }
    .menu{
        &__link{
            font-size: 14px;
        }
    }   
    .page-block{
        &__heading{
            font-size: 64px;
        }
        &__content{
            max-width: 428px;
        }
    }
    
}

@media screen and (max-width: 1020px){
    .header{
        padding: 25px 0;
    }
    .page-block__text{
        font-weight: 500;
    }
    .page-block__image{
        opacity: .55;
    }
}



@media screen and (max-width: 767px){
    .header{
        padding: 15px 0;
        &__logo{
            width: 50px;
            height: 50px;
            margin-right: 0;
        }
        &__container{
            min-height: 60px;
            justify-content: space-between;
        }
    }
    .menu__item{
        display: none;
    }
    .burger{
        display: block;
    }
    .page-block__content{
        padding: 180px 0 140px 0;
        & > *:not(:last-child){
            margin-bottom: 38px;
        }
    }
    
}

@media screen and (max-width: 480px){
    .page-block__button-brown{
        flex: 1 1 100%;
    }
    .page-block{
        &__content{
            max-width: 460px;
            padding: 160px 0 120px 0;
        }
        &__heading{
            font-size: 60px;
        }
        &__text{
            font-size: 14px;
        }
        &__buttons{
            flex-direction: column;
            & > *:not(:last-child){
                margin-bottom: 25px;
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 430px){
    .page-block{
        &__content{
            max-width: 410px;
        }
        &__heading{
            font-size: 52px;
        }
        &__text{
            font-size: 14px;
        }
        &__buttons{
            & > *:not(:last-child){
                margin-bottom: 25px;
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 380px){
    .page-block{
        &__content{
            max-width: 340px;
        }
        &__heading{
            font-size: 44px;
        }
    }
}
