@import "null.css";

$second-font: 'Bitter', serif;
$main-font: 'Josefin Sans', sans-serif;
$text-color: #403F3E;
$light-brown: #A67356;


@mixin font($fz, $c, $fw, $lh){
    font-size: $fz;
    color: $c;
    font-weight: $fw;
    line-height: $lh;
}

%flex-element-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.ibg{
    position: relative;
    & img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; 
        object-fit: cover;
    }
    
}

.wrapper{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    z-index: 1000;
    min-height: 100px;
    padding: 30px 0;

    &__container{
        display: flex;
        align-items: center;
        min-height: 100px;
    }
    &__logo{
        display: block;
        margin-right: 176px;
    }
}

.menu{
    &__list{
        display: flex;
        align-items:center;
        position: absolute;
        z-index: -1;
        

        &.slide{
            right:0;
            padding: 120px 20px 0 25px;
        }
    }
    &__item:not(:last-child){
        margin-right: 55px;
    }
    &__link{
        @include font(16px, $text-color, 400, 130%);
    }
}

.burger {
    position: relative;
    width: 30px;
    height: 11px;
    display: none;

    &__button{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        background-color: transparent;

        &:hover{
            cursor: pointer;
        }
        & span{
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            width: 100%;
            height: 2px;
            background-color: #403F3E;
            transition: all .4s;
            transform: translate(-50%, -50%);
            
            &:nth-of-type(1){
                top: calc(50% - 5px);
            }
            &:nth-of-type(2){
                top: calc(50% + 5px);
            }
        }

        &.active span:nth-of-type(1){
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &.active span:nth-of-type(2){
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

}

// .burger{
//     position: relative;
//     // background-color: white;
//     width: 30px;
//     height: 11px;
//     @extend %flex-element-center;
//     display: none;
//     cursor: pointer;

//     &__button{
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         top: 0;
//         left:0;
//         z-index: -1;
//         border: none;
//         background-color: transparent;
//     }

//     &:before{
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 2px;
//         background-color: $text-color;
//     }
//     &:after{
//         content: "";
//         position: absolute;
//         bottom: 0;
//         left:0;
//         width: 100%;
//         height: 2px;
//         background-color: $text-color;
//     }
    
// }


.heading{
    text-transform: uppercase;
    text-align: center;
    @include font(50px, #454444, 700, 100%);
    margin-bottom: 76px;
}

.page{
    flex: 1 1 auto;

    &-block{
        position: relative;

        &__content{
            max-width: 548px;
            padding: 243px 0 210px 0;
            position: relative;
            z-index: 2;

            & > *:not(:last-child){
                margin-bottom: 88px;
            }
        }

        &__heading{
            text-transform: uppercase;
            font-family: $main-font;
            @include font(85px,  #454444, 700, 100%);
        }
        &__text{
            @include font(20px, #514F4F, 400 ,127%);
        }

        &__image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__buttons{
            display: flex;
            flex-wrap:wrap;
            & > *:not(:last-child){
                margin-right: 30px;
            }
        }
        &__button{
            // width: 227px;
            padding: 5px 50px;
            min-height:60px;
            @extend %flex-element-center;
            outline: 1px solid #403F3E;
            // border: 1px solid #403F3E;
            @include font(20px, $text-color, 400, 127%);
            position: relative;
            transition: all .3s;
            // &:not(:last-child){
            //     margin-right: 30px;
            // }
            &:before{
                content: "";
                background-color: #403F3E;
                left:0;
                width: 0;
                height: 100%;
                transition: all .5s ease;
                position: absolute;
                z-index: 1;
            }
            &:hover:before{
                content: "";
                background-color: #403F3E;
                position: absolute;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
        &__button-brown{
            // width: 227px;
            padding: 5px 40px;
            min-height:60px;
            @include font(20px, $text-color, 400, 127%);
            @extend %flex-element-center;
            background-color: $light-brown;
            outline: 1px solid $light-brown;
            color: #f2f2f2;
            transition: all .3s;
            outline: none;
            &:hover{
                opacity: .8;   
            }
        }
        &__button-link{
            // display: block;
            @extend %flex-element-center;
            height: 100%;
            width: 100%;
            @include font(20px, $text-color, 400, 127%);
            // text-align: center;
            color: #403F3E;
            font-weight: 300;
            font-size: 20px;
            position: relative;
            z-index: 200; 
            transition: all .5s ease;  
            &:hover{
                color: #f2f2f2;
                z-index: 200;
            }         
        }
    }
}

.cards{
    margin-bottom: 350px;
    &__container{
        position: relative;
    }
    &__items{
        margin: -60px -40px;
        padding: 0 15px;
        position: absolute;
        left: 0;
    }
    &__item{
        height: 100%;
    }
    &__column{
        flex: 0 1 33.333%;
    }
    &__text{
        @include font(18px, $text-color, 400, 127%);
    }
}

.item{
    background-color: white;
    box-shadow: 0px 0px 16px -1px rgba(64, 63, 62, 0.31);
    margin: 0 40px;
    padding: 20px 40px;
    min-width: 300px;

    &__num{
        font-family: $second-font;
        color: rgba(166, 115, 86, 0.75);
        font-size: 140px;
        line-height: 100%;
        font-weight: 400;
        text-align: center;
    }
}

.projects{
    margin-bottom: 100px;

    // &__heading{
    //     text-transform: uppercase;
    //     text-align: center;
    //     @include font(50px, #454444, 700, 100%);
    //     margin-bottom: 76px;
    // }

    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__more-button{
        margin-top: 55px;
        display: flex;
        justify-content: center;
        a{
            display: block;
            width: 227px;
            @extend %flex-element-center;
            text-decoration: none;
            @include font(20px, $text-color, 400, 127%);
            text-align: center;
            padding: 15px 40px;
            border: 1px solid $text-color;
            transition: all .3s ease;
        }
        a:hover{
            background-color: $text-color;
            color: white;
        }
    }
}

.project{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px -1px rgba(64, 63, 62, 0.25);
    padding: 25px;
    flex: 0  1 49%;
    min-width: 300px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    

    // &::nth-last-child(n+2){
    //     margin-bottom: 0;
    // }

    & > *:not(:last-child){
        margin-bottom: 30px;
    }
    &__image{

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__content{
        flex: 1 1 auto;
        & > *:not(:last-child){
            margin-bottom: 30px;
        }
    }
    &__heading{
        @include font(35px, $text-color, 500, 120%);

    }
    &__text{
        @include font(18px, #3C3A39, 400, 127%);
    }
    &__button{
        @extend %flex-element-center;
        // position: relative;
    }
    &__link{
        display: block;
        // position: absolute;
        top: 0;
        @include font(18px, $light-brown, 400, 127%);
        margin-right: 13px;
        transition: all .3s;
        &:hover{
            text-decoration: underline;
        }
    }
}

.partners{

    margin-bottom: 100px;
    &__items{

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: space-around;

        // margin: 0 -40px;
        padding: 0 15px;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
    }
}

.contact{
    margin-bottom: 50px;
    &__preheading{
        font-family: 'Bitter';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 100%;
        text-align: center;   
        color: #514F4F;
        margin-bottom: 55px;
    }

    &__form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input, textarea{
            // margin: 0px 40px 40px 40px;
            margin-bottom: 30px;
            padding: 20px;
            border: none;
            border: 1px solid #403F3E;
        }
        input{
            flex: 0 1 30%;
            // min-width: 300px;
            // margin-right:  10px;
            // margin-left: 10px;
            height: 60px;
            
        }
        textarea{
            resize: none;
            flex: 0 1 65%;
            //  width: 900px;
            height: 150px;
        }
        input::placeholder, textarea::placeholder{
            font-size: 18px;
            color: rgba(64, 63, 62, 0.77);
        }
        input:focus, textarea:focus{
            font-size: 20px;
            color: $text-color;
            padding: 20px;
            outline: 1px solid #403F3E;
        }
        .contact__input-submit{
            background-color: #A67356;
            font-family: $main-font;
            font-size: 20px;
            color: white;
            border:none;
            line-height: 127%;
            cursor: pointer;
        }
        .contact__input-submit:focus{
            font-size: 20px;
            color: white;
            outline:none;
        }
    }
    
}


.footer{
    background-color: $text-color;
    color: #E7E7E7;
    font-family: $second-font;
    font-size: 16px;
    font-weight: 400;
    padding: 35px 0;

    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__social-media{
        margin-bottom: 30px;
    }
}

.column{
    & ul li{
        margin-bottom: 8px;
    }
    &__heading{
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__media{
        display: flex;
        & > *:not(:last-child){
            margin-right: 20px;
        }
    }
    &__link{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        color: #E7E7E7;
    }
    &__input{
        display: block;
        margin-bottom: 20px;
        background: transparent;
        width: 320px;
        height: 40px;
        border: 1px solid #FFFFFF;
        padding: 15px;

        &::placeholder{
            color: white;
        }
        &:focus{
            outline: none;
            color: white;
        }
    }
    &__btn{
        width: 320px;
        height: 40px;
        background: white;
        color: $text-color;
        border: none;
        cursor:pointer;
    }
}

@media screen and (max-width: 1440px){
    .page-block__image img{
        object-position: right;
    }
    .header{
        padding: 20px 0;
        &__container{
            min-height: 80px;
        }
    }
    .header__logo{
        margin-right: 160px;
    }
    .menu__item:not(:last-child){
        margin-right: 45px;
    }
    .page-block{
        &__heading{
            font-size: 78px;
            
        }
        &__content{
            max-width: 516px;
            padding: 213px 0 170px 0;
            & > *:not(:last-child){
                margin-bottom: 68px;
            }
        }
        &__text{
            font-size: 16px;
        }
        &__button-brown{
            // width: 180px;
            padding: 5px 40px;
            min-height: 50px;
            font-size: 16px;
        }
        &__button{
            // width: 180px;
            padding: 5px 50px;
            min-height:50px;
            &-link{
                font-size: 16px;
            }
        }
    }
    .projects__more-button a{
        font-size: 16px;
        width: 217px;
    }
}


@media screen and (max-width: 1220px){
    .page-block__image img{
        object-position: right;
    }
    .header__logo{
        margin-right: 130px;
    }
    .menu__item:not(:last-child){
        margin-right: 35px;
    }
    .page-block{
        &__heading{
            font-size: 68px;
        }
        &__content{
            max-width: 510px;
            padding: 200px 0 160px 0;
            & > *:not(:last-child){
                margin-bottom: 48px;
            }
        }
    }
    .cards{
        margin-bottom: 270px;
    }
    // .project{
    //     &__heading{
    //         font-size: 32px;
    //     }
    // }
    .heading{
        font-size: 32px;
    }
    // .item{
    //     &__num{
    //         font-size: 120px;
    //     }
    // }
}


@media screen and (max-width: 1090px){

    .header__logo{
        margin-right: 100px;
    }
    .menu{
        &__link{
            font-size: 14px;
        }
    }   
    .page-block{
        &__heading{
            font-size: 64px;
        }
        &__content{
            max-width: 428px;
        }
    }
    .cards{
        &__items{
            margin: -60px -30px;
        }
    }
    .item{
        margin: 0 30px;
    }
    .project{
        // &__heading{
        //     font-size: 29px;
        // }
        &__text{
            font-size: 16px;
        }
    }
    .heading{
        font-size: 29px;
    }
    .partners{
        margin-bottom: 80px;
    }

}

@media screen and (max-width: 1050px){
    .cards{
        &__items{
            margin: -60px -20px;
        }
    }
    .item{
        margin: 0 20px;
        &__num{
            font-size: 110px;
        }
    }
    // .project{
    //     &__heading{
    //         font-size: 26px;
    //     }
    // }
    .heading{
        font-size: 26px;
    }
}

@media screen and (max-width: 1020px){
    .header{
        padding: 25px 0;
    }
    .page-block__text{
        font-weight: 500;
    }
    .page-block__image{
        opacity: .55;
    }
    .cards{
        margin-bottom: 420px;
        &__column{
            &:not(:nth-child(3)){
                flex: 0 1 50%;
                margin-bottom: 30px;
            }
            &:nth-child(3){
                flex: 0 1 100%;
            }
        }
    }
    .item__num{
        font-size: 94px;
    }

    // .projects{
    //     &__heading{
    //         font-size: 46px;
    //         margin-bottom: 70px;
    //     }
    // }
    .heading{
        font-size: 46px;
        margin-bottom: 70px;
    }

    .project{
        &__link{
            font-size: 16px;
            margin-right: 11px;
        }   
    }
    // .item{
    //     &:not(:last-child){
    //         margin-bottom: 20px;
    //     }
    // }
}


@media screen and (max-width: 950px){
    .partners{
        &__items{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        &__item{
            margin-bottom: 35px;
        }
    }
    .contact__form{
        & input{
            height: 55px;
            flex: 0 1 45%;
        }
        & textarea{
            flex: 0 1 45%;
        }
        // input:nth-child(1), input:nth-child(2){
        //     flex: 0 1 45%;
        // }
        .contact__input-submit{
            font-size: 18px;
            margin: 0 auto;
        }
    }   
}

// @media screen and (max-width: 900px){
//     .project{
//         &__heading{
//             font-size: 24px;
//         }
//         &__text{
//             font-size: 14px;
//         }
//     }
// }


@media screen and (max-width: 850px){

    .project{
        flex: 0 1 100%;

        &__heading{
            font-size: 35px;
        }
        &__text{
            font-size: 18px;
        }
        &__link{
            font-size: 18px;
            margin-right: 13px;
        }
    }

    .projects__more-button{
        margin-top: 45px;
    }

}

@media screen and (max-width: 767px){
    .header{
        padding: 15px 0;
        &__logo{
            width: 50px;
            height: 50px;
            margin-right: 0;
        }
        &__container{
            min-height: 60px;
            justify-content: space-between;
        }
    }
    .menu__list {
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        height: 100vh;
        width: 300px;
        // padding: 120px 20px 0 15px;
        top:0;
        right:-310px;
        transition: all .4s linear;
        // display: none;
    }
    .menu__item:not(:last-child){
        margin-right: 0;
        margin-bottom: 30px;
    }

    .burger{
        display: block;
    }
    .page-block__content{
        padding: 180px 0 140px 0;
        & > *:not(:last-child){
            margin-bottom: 38px;
        }
    }   
    .contact__form{
        flex-direction: column;
        .contact__input-submit{
            width: 100%;
        }
    }   
}

@media screen and (min-width: 670px){
    .cards{
        &__items{
            display: flex;
            flex-wrap: wrap;
        }
    }
    .contact__preheading{
        margin-bottom: 35px;
        font-size: 20px;
    }
    .contact__form{
        & input, textarea{
            padding: 16px;
            margin-bottom: 20px;
        }
        & input:focus, textarea:focus{
            padding: 16px;
        }
        & input::placeholder, textarea::placeholder, input:focus, textarea:-moz-focusring{
            font-size: 16px;
        }
    }   
}
@media screen and (max-width: 670px){
    .cards{
        margin-bottom: 600px;
    }
    .item__num{
        font-size: 85px;
    }
    // .projects__heading {
    //     font-size: 43px;
    //     margin-bottom: 60px;
    // }
    .heading{
        font-size: 43px;
        margin-bottom: 60px;
    }
    
}

@media screen and (max-width: 590px){
    .project{
        &__heading{
            font-size: 30px;
        }
        &__text{
            font-size: 16px;
        }
        &__link{
            font-size: 16px;
            margin-right: 11px;
        }
    }
    // .projects__heading {
    //     font-size: 38px;
    //     margin-bottom: 56px;
    // }
    .heading{
        font-size: 38px;
        margin-bottom: 50px;
    }
    .cards{
        margin-bottom: 600px;
    }
    .projects__more-button{
        margin-top: 35px;
    }
    .partners{
        margin-bottom: 70px;
        &__items{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        &__item{
            margin-bottom: 40px;
        }
    }

    .contact{
        &__preheading{
            font-size: 20px;
        }
        &__form{
            & input, textarea{
                margin-bottom: 20px;
                padding: 15px;
            }
            & input:focus, textarea:focus{
                padding: 15px;
            }
            
        }
    }
}
@media screen and (max-width: 480px){
    .page-block__button-brown{
        flex: 1 1 100%;
    }
    .page-block{
        &__content{
            max-width: 460px;
            padding: 160px 0 120px 0;
        }
        &__heading{
            font-size: 60px;
        }
        &__text{
            font-size: 14px;
        }
        &__buttons{
            flex-direction: column;
            & > *:not(:last-child){
                margin-bottom: 25px;
                margin-right: 0;
            }
        }
    }
    .cards{
        margin-bottom: 650px;
    }

    .project{
        padding: 20px;
        // &__heading{
        //     font-size: 26px;
        // }
    }
    .heading{
        font-size: 32px;
    }
    .projects__more-button{
        padding: 0 10px;
        margin-top: 30px;
        a{
            width: 100%;
        }
    }
    .partners{
        margin-bottom: 55px;
    }
    
}

@media screen and (max-width: 430px){
    .page-block{
        &__content{
            max-width: 410px;
        }
        &__heading{
            font-size: 52px;
        }
        &__text{
            font-size: 14px;
        }
        &__buttons{
            & > *:not(:last-child){
                margin-bottom: 25px;
                margin-right: 0;
            }
        }
    }
    .cards{
        margin-bottom: 700px;
    }
    .project{
        &__heading{
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 380px){
    .page-block{
        &__content{
            max-width: 340px;
        }
        &__heading{
            font-size: 44px;
        }
    }
    .cards{
        margin-bottom: 750px;
    }
    .project{
        &__heading{
            font-size: 21px;
        }
        &__text{
            font-size: 14px;
        }
        &__link{
            font-size: 13px;
            margin-right: 10px;
        }
    }
    .projects__container.container{
        padding: 0;
    }
    .item{
        margin: 0;
    }
    .partners{
        &__items{
            grid-template-columns: repeat(1, 1fr);
            // grid-template-rows: repeat(3, 1fr);
        }
        &__item{
            margin-bottom: 45px;
        }
    }
}
